# Node & dependencies
node_modules/
.npm/

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# CLI, System & Environment files
.gemini/
.agents/
.cache/
.codex/
.codex-openrouter/
.config/
.copilot/
.local/
.oh-my-zsh/
.openab/
.ssh/
.tmux/
.vim/
.*
!/.gitignore

*.log
scratch/
bin/
agents/
codex/
dotfiles/
menu/
openab/
skills/
australia*
handoff.md
AGENTS.md
CLAUDE.md
GEMINI.md
bin
